.nav-colors {
    color: black;
}

.nav-style {
    background-color: black;
    font-family: 'Noto Serif', serif;
    border: 2px solid black;
}

.button-margin {
    margin-bottom: 1%;
}

.cell-size-left {
    width: 5%;
}

.image-size {
    height: 25%;
    width: 100%;
}

.navbar-brand {
    color: white;
    font-family: 'Noto Serif', serif;
}

.image-size-2 {
    height: 25%;
    width: 20vw;
}

.cell-size-right {
    width: 20%;
}

.product-margin {
    margin-left: 5%;
}

.button-color {
    background-color: #F5B965;
}

.header-title {
    color: black;
    font-style: italic;
    font-size: 3em;
    font-family: 'Noto Serif', serif;
}

#background_Picture {
    background: url(images/backpacker_3.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 30%;
}

.checkout-button {
    background-color: #D75452;
    color: black;
    font-family: 'Noto Serif', serif;

}

.col-background {
    background-color: #fff;
}

.checkout-col-width {
    width: 20%;
}

.checkout-col-width-product {
    width: 40%;
}

.spacer {
    height: 30vh;
}


/*ABOUT PAGE */

.about_title {
    color: black;
    font-size: 4em;
    font-family: 'Noto Serif', serif;

}

.about_backpacker {
    color: black;
    font-family: 'Noto Serif', serif;

}

.block {
    background-color: white;
    opacity: .9;
    border-radius: 15px 15px 15px 15px;
    padding: 1%;
    margin-top: 2%;
}

.about_backpacker_title {
    color: white;
    font-family: 'Noto Serif', serif;

}


/*end*/

/*CHECKOUT PAGE */
.checkout_text_style{
  margin-top: 5%;
  color:white;
  font-family: 'Noto Serif', serif;
}
.price_total_text{
  color:white;
  font-family: 'Noto Serif', serif;
}
.font{
  font-family: 'Noto Serif', serif;

}

/*END*/
