.nav-colors{
  color: black;
}
.nav-style{
  background-color: black;
  font-family: 'Noto Serif', serif;
}
.button-margin{
  margin-bottom: 1%;
}
.cell-size-left{
  width: 5%;
}
.image-size{
  height: 25%;
  width:100%;
}

.image-size-2{
  height: 25%;
  width:20vw;
}
.cell-size-right{
  width: 20%;
}

.product-margin{
  margin-left: 5%;
}

.button-color{
  background-color: #F5B965;
}
.header-title{
  color: black;
  font-style: italic;
  font-size: 3em;
  font-family: 'Noto Serif', serif;
}

#background_Picture{
  background: url(images/backpacker_3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.margin-main-page{
  margin-top: -3vh;
}
.checkout-button{
  background-color: #D75452;
  color: black;
}

.col-background{
  background-color: #fff;
}


.checkout-col-width{
  width: 20%;
}

.checkout-col-width-product{
  width: 40%;
}
.spacer{
  height: 30vh;
}
h1 {
    font-family: 'Noto Serif', serif;
}
